@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-action="Create">Ir a Añadir un partido</a><br/>
<a asp-action="Delete">Ir a Borrar un partido</a><br />
<a asp-action="Update">Ir a Actualzar un partido</a>